body {
	width: 100%;
	height: 100%;
	background-color: #0B7A75;
	margin: 0px;
}

#title {
	font-family: Montserrat;
	font-weight: 700;
	color: #FFF7D6;
	font-size: 53px;
	text-align: center;
	margin-top: 60px;
}

.home-icon {
	width: 150px;
	position: relative;
	display: inline-block;
	margin: 30px 30px;
	text-align: center;
}

#icon-container {
	text-align: center;
}

#map {
	width: 70%;
	text-align: center;
	margin-top: 10px;
	z-index: 1;
}

#map-container {
	text-align: center;
	position: relative;
}

#lands-end {
	z-index: 2;
	width: 120px;
	position: absolute;
	left: 12%;
	bottom: 50%;
}

#the-presidio {
	z-index: 2;
	width: 120px;
	position: absolute;
	left: 35%;
	bottom: 73%;
}

#embarcadero {
	z-index: 2;
	width: 120px;
	position: absolute;
	left: 69%;
	bottom: 70%;
}

#golden-gate {
	z-index: 2;
	width: 160px;
	position: absolute;
	left: 23%;
	bottom: 30%;
}

#union-square {
	z-index: 2;
	width: 120px;
	position: absolute;
	left: 63%;
	bottom: 55%;
}

#mission-bay {
	z-index: 2;
	width: 120px;
	position: absolute;
	left: 70%;
	bottom: 43%;
}

#the-mission {
	z-index: 2;
	width: 120px;
	position: absolute;
	left: 57%;
	bottom: 25%;
}

.pin-icon {
	height: 50px;
	margin-bottom: 5px;

}

.pin-label {
	color: white;
	font-family: Montserrat;
	background-color: #8F2D56;
	border-radius: 20px;
	height: 20px;
	text-align: center;
	padding: 5px;
	font-size: 15px;
	border: 2px solid #8F2D56;
}

.pin-label:hover {
	cursor: pointer;
	color: #8F2D56;
	background-color: white;
	border: 2px solid #8F2D56;
}

.coming-soon {
	color: black;
	padding-top: 10px;
}

#top-half {
	width: 100%;
	height: 500px;
	position: relative;
}

#embarcadero-picture {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	bottom: 0px;
	z-index: 1;
}

#home {
	position: absolute;
	top: 0px;
	height: 45px;
	margin: 20px 20px;
	z-index: 2;
}

#home-caption {
	font-family: Montserrat;
	color: white;
	top: 60px;
	position: absolute;
	z-index: 2;
	font-size: 10px;
	width: 50px;
	text-align: center;
	margin:10px 17px;

}

#location-title {
	color: white;
	font-family: Montserrat;
	font-size: 45px;
	font-weight: 700;
	width: 150px;
	position: absolute;
	z-index: 2;
	top: 100px;
	left: 100px;
}

#weather-container {
	background-color: #8F2D56;
	border: 2px solid white;
	width: 400px;
	height: 100px;
	z-index: 2;
	opacity: 0.8;
	position: absolute;
	top: 230px;
	left: 100px;
	border-radius: 15px;
}

#weather-notification {
	background-color: #8F2D56;
	border: 2px solid white;
	width: 400px;
	height: 70px;
	z-index: 2;
	position: absolute;
	top: 230px;
	left: 100px;
	border-radius: 15px;
	z-index: 5;
	font-family: Montserrat;
	color: #CCCCCC;
	padding-top: 30px;
	text-align: center;
	font-size: 30px;
	display: none;
}

#days-container {
	width: 100%;
	margin-left: 27px;
}

#weather-icon-container {
	width: 100%;
	margin-top: 20px;
	margin-left: 10px;
}

.day-of-week {
	color: white;
	font-family: Roboto Condensed;
	position: relative;
	opacity: 1;
	float: left;
	margin-right: 28px;
	margin-top: 20px;
}

.weather-icon {
	position: relative;
	float: left;
	opacity: 1;
	margin: 0px 9px;
	height: 30px;
	margin-top: 10px;
}

#map-circle {
	border-radius: 420px;
	width: 420px;
	height: 420px;
	position: absolute;
	border: 4px solid white;
	right: 200px;
	top: 35px;
	z-index: 2;
}

#small-map {
	width: 350px;
	position: relative;
	top: 60px;
	left: 30px;
	z-index: 2;
}

#small-pin {
	position: absolute;
	z-index: 3;
	width: 20px;
	right: 85px;
	top: 87px;
}

#small-pin-label {
	color: white;
	position: absolute;
	font-family: Montserrat;
	background-color: #8F2D56;
	border-radius: 20px;
	height: 10px;
	text-align: center;
	padding: 3px 4px;
	font-size: 8px;
	margin-top: 3px;
	z-index: 3;
	right: 70px;
	top: 120px;
}

#directions-link {
	color: white;
	font-family: Montserrat;
	font-size: 12px;
	border: 2px solid white;
	width: 130px;
	text-align: center;
	position: absolute;
	padding: 5px;
	bottom: 110px;
	z-index: 2;
	left: 100px;
	margin-top: 20px;
	border-radius: 5px;
}

#directions-link:hover {
	background-color: #DEFF96;
	color: #4D4D4D;
	cursor: pointer;
}

#bottom-half {
	width: 100%;
	height: 700px;
	position: relative;
}

.columns {
	border-right: 2px solid #8F2D56;
	background-color: white;
	width: 33.1%;
	height: 700px;
	position: relative;
	z-index: 2;
	float: left;
}

.turqoise-icons {
	position: absolute;
	width: 122px;
	margin-top: 30px;
	margin-left: 150px;
	left: calc(50%-61px);
}

.explore-pics {
	position: relative;
	width: 300px;
	left: 60px;
	margin-top: 40px;
	top: 140px;
}


.explore-top {
	position: absolute;
	border: 3px solid #B3B3B3;
	color: #B3B3B3;
	font-family: Roboto Condensed;
	z-index: 2;
	font-size: 25px;
	padding: 5px 5px;
	text-align: center;
	top: 255px;
	left: 115px;
}

#gotts-info {
	position: absolute;
	font-family: Roboto Condensed;
	background-color: #0B7A75;
	color: white;
	left: 60px;
	top: 190px;
	padding: 20px 20px;
	width: 260px;
	z-index: 5;
	display: none;
}

#g-x {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 20px;
	height: 20px;
	text-align: center;
}

#g-x:hover {
	cursor: pointer;
	background-color: #FF1334;
	border-radius: 20px;
}

#h-x {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 20px;
	height: 20px;
	text-align: center;
}

#h-x:hover {
	cursor: pointer;
	background-color: #FF1334;
	border-radius: 20px;

}

#humphrey-info {
	font-family: Roboto Condensed;
	background-color: #0B7A75;
	color: white;
	position: absolute;
	width: 260px;
	left: 60px;
	padding: 20px 20px;
	top: 440px;
	z-index: 5;
	display: none;
}

#ferry-info {
	position: absolute;
	font-family: Roboto Condensed;
	background-color: #0B7A75;
	color: white;
	left: 60px;
	top: 205px;
	padding: 20px 20px;
	width: 260px;
	z-index: 5;
	display: none;
}

#f-x {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 20px;
	height: 20px;
	text-align: center;
}

#f-x:hover {
	cursor: pointer;
	background-color: #FF1334;
	border-radius: 20px;
}

#bridge-info {
	position: absolute;
	font-family: Roboto Condensed;
	background-color: #0B7A75;
	color: white;
	left: 60px;
	top: 460px;
	padding: 20px 20px;
	width: 260px;
	z-index: 5;
	display: none;
}

#b-x {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 20px;
	height: 20px;
	text-align: center;
}

#b-x:hover {
	cursor: pointer;
	background-color: #FF1334;
	border-radius: 20px;
}

#exploratorium-info {
	position: absolute;
	font-family: Roboto Condensed;
	background-color: #0B7A75;
	color: white;
	left: 60px;
	top: 185px;
	padding: 20px 20px;
	width: 260px;
	z-index: 5;
	display: none;
}

#e-x {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 20px;
	height: 20px;
	text-align: center;
}

#e-x:hover {
	cursor: pointer;
	background-color: #FF1334;
	border-radius: 20px;
}

#aquarium-info {
	position: absolute;
	font-family: Roboto Condensed;
	background-color: #0B7A75;
	color: white;
	left: 60px;
	top: 445px;
	padding: 20px 20px;
	width: 260px;
	z-index: 5;
	display: none;
}

#a-x {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 20px;
	height: 20px;
	text-align: center;
}

#a-x:hover {
	cursor: pointer;
	background-color: #FF1334;
	border-radius: 20px;
}

.explore-bottom {
	position: absolute;
	border: 3px solid #B3B3B3;
	color: #B3B3B3;
	font-family: Roboto Condensed;
	z-index: 2;
	font-size: 25px;
	padding: 5px 5px;
	text-align: center;
	top: 73%;
}

#hs {
	left: 85px;
}

#bridge {
	left: 73px;
}

#aq {
	left: 85px;
}

.explore-top:hover {
	color: white;
	cursor: pointer;
	border: 3px solid white;
}
.explore-bottom:hover {
	color: white;
	cursor: pointer;
	border: 3px solid white;
}


#direction-title {
	font-family: Montserrat;
	font-size: 30px;
	color:#FFF7D6;
	font-weight: 700;
	position: absolute;
	left:400px;
	top: 100px;
}

.location-search input[type = "text"] {
	position: relative;
	top: 150px;
	float: left;
	margin-right: 80px;
	margin-top: 30px;
	height: 30px;
	width: 150px;
	left: 390px;
	font-family: Montserrat;
	border-radius: 3px;
	font-size: 12px;
	padding-left: 10px;
}

#arrow {
	width: 40px;
	position: absolute;
	top: 180px;
	left: 578px;
}

#go {
	font-family: Montserrat;
	background-color: #FF8296;
	color: white;
	width: 40px;
	height: 20px;
	position: absolute;
	font-size: 14px;
	text-align: center;
	right: 390px;
	top: 181px;
	padding: 5px;
	border-radius: 2px;
	border: 2px solid #FF8296;
}

#go:hover {
	cursor: pointer;
	background-color: white;
	color: #FF8296;
	border: 2px solid #FF8296;
}

#background {
	background-color: white;
	width: 100%;
	height: 350px;
	position: relative;
	display:none;

}

#search {
	height: 350px;
	position: relative;
	top: 150px;
}

#transit-line {
	width: 80%;
	position: absolute;
	left: 120px;
	top: 50%;
}

.locations {
	color: black;
	font-family: Roboto Condensed;
	position: absolute;
	top: 57%;
	font-size: 15px;
}

#my-location {
	left: 90px;
}

#bus-stop {
	left: 170px;
	width: 125px;
	text-align: center;
}

#r-bart {
	left: 350px;
}

#e-bart {
	left: 920px;
}

#destination {
	left: 1085px;
}

.time {
	color: #8F2D56;
	font-family: Roboto Condensed;
	font-size: 15px;
	position: absolute;
	top: 15%;
	text-align: center;
}

.distance {
	color: #8F2D56;
	font-family: Roboto Condensed;
	font-size: 15px;
	position: absolute;
	top: 20%;
	text-align: center;
}

#t1 {
	left: 160px;
}
#t2 {
	left: 290px;
}
#t3 {
	left: 650px;
}
#t4 {
	left: 1020px;
}

#d1 {
	left: 160px;
}
#d2 {
	left: 295px;
}
#d3 {
	left: 660px;
}
#d4 {
	left: 1022px;
}

.t-label {
	color: black;
	font-family: Roboto Condensed;
	position: absolute;
	font-size: 15px;
	text-align: center;
	top: 45%;
}

#w1 {
	left: 165px;
}
#act {
	left: 290px;
}
#bt {
	left: 665px;
}
#w2 {
	left: 1035px;
}

.t-images {
	position: absolute;
}

#walk1 {
	width: 30px;
	left: 165px;
	top: 27%;
}

#bus {
	width: 70px;
	left: 290px;
	top: 30%;
}

#bart {
	width: 250px;
	left: 555px;
	top: 29%;
}

#walk2 {
	width: 30px;
	left: 1035px;
	top: 27%;
}

